.c-Footer{
    display: flex;
    -ms-flex: 0 0 50px;
    flex: 0 0 50px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    height: 50px;
    padding: 0 1rem;
    background: #ebedef;
    border-top: 1px solid #d8dbe0;
}
.c-main{
    flex-basis: auto;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    min-width: 0;
    padding-top: 2rem;
}