{% extends "layouts/base.html" %}

<!-- {% block title %} Dashboard {% endblock %}  -->

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

  <!-- <link href="/static/assets/vendors/@coreui/chartjs/css/coreui-chartjs.css" rel="stylesheet"> -->

{% endblock stylesheets %}

{% block content %}


<main class="c-main">
    <div class="container-fluid">
        <div class="fade-in">
            <div class="row">
                <div class="col-sm-6 col-lg-4">
                    <div class="card">
                        <div class="text-value-xl text-center" >$0

                        </div>
                        
                        <div class="card-body row text-center">
                            <div class="col">
                                <div class="text-uppercase text-muted small">Available Balance</div>
                            </div>
                        </div>                  
                </div>
            </div>
    </div>
</main>

















{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

    <!-- Plugins and scripts required by this view-->
    <script src="/static/assets/vendors/@coreui/chartjs/js/coreui-chartjs.bundle.js"></script>
    <script src="/static/assets/vendors/@coreui/utils/js/coreui-utils.js"></script>
    <script src="/static/assets/js/main.js"></script>

{% endblock javascripts %}
