{% extends "layouts/base.html" %}

<!-- {% block title %} Dashboard {% endblock %}  -->

<!-- Specific Page CSS goes HERE  -->

{% block content %}



<div class="c-main">
  <div class="container-fluid">
    <div class="fade-in">
    
      <h2 class="page-header text-center text-dark no-border Brand Light Color">Start Your New Investment Today<br></h2>
    
        <div class="row">
          <div class="col-lg-4">
            <div class="card">
              <div class="card-body text-center">
                <h3 class="text-uppercase text-bold">Basic plan</h3>
                <br>
                <h3 class="price">
                  <sup></sup>15%
                  <span class="text-whitex"> <i> returns daily</i></span>
                  <span class="text-whitex"><i>for 7 days</i></span>
                </h3>

                <br>
                <p><span class="text-bold">Minimum Deposit: $1000 USD</span></p>
                <p><span class="text-bold">Maximum Deposit: $5,000 USD</span></p>
                <p><span class="text-bold">Expected Returns: 8250 USD - 27500 USD</span></p>

                <br><br>
                <button class="btn btn-yellow" href="">Select plan</button>
              </div>
            </div>
          </div><!-- col -->

          <div class="col-lg-4">
            <div class="card">
              <div class="card-body text-center">
                <h3 class="text-uppercase text-bold">Pro plan</h3>
                <br>
                <h3 class="price">
                  <sup></sup>25%
                  <span class="text-whitex"> <i> returns daily</i></span>
                  <span class="text-whitex"><i>for 7 days</i></span>
                </h3>

                <br>
                <p><span class="text-bold">Minimum Deposit: $6,000 USD</span></p>
                <p><span class="text-bold">Maximum Deposit: $10,000 USD</span></p>
                <p><span class="text-bold">Expected Returns: 30000 USD - 45000 USD</span></p>

                <br><br>
                <button class="btn btn-yellow" href="">Select plan</button>
              </div>
            </div>
          </div><!-- col -->

          <div class="col-lg-4">
            <div class="card">
              <div class="card-body text-center">
                <h3 class="text-uppercase text-bold">Standard plan</h3>
                <br>
                <h3 class="price">
                  <sup></sup>40%
                  <span class="text-whitex"> <i> returns daily</i></span>
                  <span class="text-whitex"><i>for 7 days</i></span>
                </h3>

                <br>
                <p><span class="text-bold">Minimum Deposit: $11,000 USD</span></p>
                <p><span class="text-bold">Miximum Deposit: $50,000 USD</span></p>
                <p><span class="text-bold">Expected Returns: 80,000 USD - 150,000 USD</span></p>

                <br><br>
                <button type="submit" name="" class="btn btn-yellow" href="">Select plan</button>
              </div>
            </div>
          </div><!-- col -->

        </div><!-- row -->

    </div>                  
  </div>
</div>








{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

    <!-- Plugins and scripts required by this view-->
    <script src="/static/assets/vendors/@coreui/chartjs/js/coreui-chartjs.bundle.js"></script>
    <script src="/static/assets/vendors/@coreui/utils/js/coreui-utils.js"></script>
    <script src="/static/assets/js/main.js"></script>

{% endblock javascripts %}
